html{
overflow-x: hidden;
overflow-y: hidden;
}

body {
  background-color: blue;
  background-size: cover;
}
.header1{
  height: 50px;
}
.form-control {
color: white !important;
background-color: blue !important;
}
.fadeInDown{
  font-size: 70px;
}
.inputDesign2{
  margin-top: 50px;
}
.lead{
  margin-bottom: 500px;
}
.welkom{
  font-size: 50px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
  text-align: center;
}
