body {
  background-image: url("img/music3.jpg");
  }
.text-center{
  font-weight: bold;
  color: white;
  font-size: 25px;
  }
.picture{
  margin-top: 100px;
}
.row{
  margin-top: 70px;
}
.btn-primary{
  height: 30px;
  width: 40px;
}
.fa-user-alt, .fa-music{
  color: white;
  font-weight: bold;
  margin-top: 17px;
}
.fa-youtube{
  color: white;
  font-weight: bold;
  margin-top: 23px;
}


@media (max-width: 767px) {
body{
background-image: url("img/music3.jpg");
}
.picture{
  display: none;
}
.text-center{
  margin-bottom: 90px;
  font-weight: bold;
  color: white;
}
.btn-primary{
  margin-top: 20px;
  margin-left: 30px;
  font-size: 2vw;
}
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
