body {
  background-image: url("img/music3.jpg");
  background-size: auto;
  }
.text-center{
  font-weight: bold;
  color: white;
  font-size: 25px;
  }
.picture{
  margin-top: 100px;
}
.row{
  margin-top: 100px;
}
.btn-primary{
  height: 30px;
  width: 40px;
}
.fa-at, .fa-user{
  color: white;
  font-weight: bold;
}



@media (max-width: 767px) {
body{
  background-image: url("img/music3.jpg");
  background-size: auto;
}
.picture{
  display: none;
}
.text-center{
  margin-top: 100px;
  margin-bottom: 90px;
  font-weight: bold;
  color: white;
}
.btn-primary{
  font-size: 2vw;
  font-weight: bold;
}
}
